.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.user-container button {
  padding: 10px 20px;
  background-color: black; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
/* .user-container button:hover {
  background-color: #333;
} */

.user-container button:disabled {
  background-color: #ccc; 
  color: #666; 
  cursor: not-allowed;
}

.card-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.episode-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* .episode-card:hover {
  transform: translateY(-5px);
} */

.episode-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.episode-card .card-header {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.episode-card p {
  margin-top: 10px;
  line-height: 1.4;
}

.episode-card .comment-section {
  color: blue;
}

.comments-form {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.comments-form.show {
  display: block;
}

.comments-form textarea {
  width: 93%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
}

.comments-form button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.comments-form button:hover {
  background-color: #0056b3;
}

.comments-container {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.comments-container p {
  margin: 5px 0;
}

.comments-form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.comments-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

.comment-author {
  font-weight: bold;
  color: #007bff;
}

.comment-content {
  margin-left: 15px;
}

.comment-section-header {
  font-weight: bold;
  margin-top: 15px;
}

.delete-button {
  margin-top: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.episode-finder-container {
  width: 300px;
  height: 70px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.episode-submitter-container {
  width: 300px;
  height: auto;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.episode-submitter-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.episode-submitter-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.episode-submitter-container input[type="text"],
.episode-submitter-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.episode-submitter-container button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.episode-submitter-container button:hover {
  background-color: #0056b3;
}